body,div{
	padding:0;
	margin:0;
}

.flex-container{
	padding:0;
	margin:0;
	
	display:flex;
	flex-flow: row wrap;
	justify-content:space-between;
	align-items:center;
}

.flext-item{
	border: 1px solid #f00;
	width:150px;
	margin-bottom:15px;
}

.flex-item1{
	height:120px;
}

.flex-item2{
	height:100px;
}

.flex-item3{	
	height:40px;
}

.flex-item4{	
	height:200px;
	border: 1px solid #0f0;
}

@media screen and (max-width: 640px) {
	.flex-container{
	    align-items:flex-start;
	    align-content:space-around;
	}
	
}

